

.p-12-700 {
    font-size: 12px;
    font-weight: 700;
  }
  
  .p-16-700 {
    font-size: 16px;
    font-weight: 700;
  }
  .p-16-400 {
    font-size: 16px;
    font-weight: 400;
  }
  
  .p-24-700 {
    font-size: 24px;
    font-weight: 700;
  }
  
  .p-16-400 {
    font-size: 16px;
    font-weight: 400;
  }
  .p-32-700 {
    font-size: 32px;
    font-weight: 700;
  }
  .p-32-400 {
    font-size: 32px;
    font-weight: 400;
  }
  .p-48-700 {
    font-size: 48px;
    font-weight: 700;
  }
  .pink-hex {
    background: linear-gradient(268.7deg, #e804fc 0%, #2a66ff 100.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lang-circle {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
  }
  .ant-modal-content {
    background: transparent !important;
    box-shadow: none !important;
  }
  .ant-typography.white-text {
    color: #fff;
  }
  .br-767{
    display: none;
  }
  .hide-767{
    display: block;
  }
  .show-767{
    display: none;
  }
  .ant-modal-body{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  @media screen and (max-width:767px){
    .lang-circle img{
      width: 100%;
    }
    .br-767{
      display: block;
    }
    .hide-767{
      display: none;
    }
    .show-767{
      display: block;
    }
    .ant-row{
      padding: 0 !important;
    }
  }

  
  


  
  